{% extends "FRHollenBundle::layout.html.twig" %}

{# https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/doc/overriding_templates.md #}

{% block content %}
<div class="row">
    <div class="col-md-6">
    
    </div>
    <div class="col-md-6">
        
    </div>
</div>
{% endblock %}