{% extends "::layout.html.twig" %}

{% block body %}
<div class="container">
    
    {% include "FRHollenBundle::Component/menu.html.twig" %}
    
    {% for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}
    
    {% block content %}
        {% block fos_user_content %}{% endblock %}
    {% endblock %}   
    
</div>
{% endblock %}