{% extends "::layout.html.twig" %}

{% block body %}
<div class="container">
    
    {% include "FRHollenBundle::Component/menu.html.twig" %}
    
    {% block content %}
        {% block fos_user_content %}{% endblock %}
    {% endblock %}   
    
</div>
{% endblock %}