{% extends "FRHollenBundle::layout.html.twig" %}

{% block content %}
<div class="page-header" align="center">
    <h1>
        <span class="glyphicon glyphicon-usd"></span>
        <span class="glyphicon glyphicon-ruble"></span>
        <span class="glyphicon glyphicon-font"></span>
        <span class="glyphicon glyphicon-edit"></span>
        <span class="glyphicon glyphicon-header"></span>
        <span class="glyphicon glyphicon-euro"></span>
        <span class="glyphicon glyphicon-text-height"></span>
        <span class="glyphicon glyphicon-text-width"></span>
        <span class="glyphicon glyphicon-italic"></span>
    </h1>
</div>

{# http://symfony.com/doc/current/cmf/bundles/media/introduction.html #}

<div class="responsive-container">
    <div class="panel-body" align="center">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/_9AN7WpRy2Y?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}