{% extends "FRHollenBundle::layout.html.twig" %}

{% block body %}

<div class="row">
    {% for stage in planning %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <svg id="{{ stage.id }}" height="100%" width="100%" viewbox="0 0 100 1000">
            {% for concert in stage.concerts %}
            <rect x="100%" y="100" rx="20" ry="20" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
            {% endfor %}
        </svg>
    </div>
    {% endfor %}
</div>

{% endblock %}